.advantages {
  padding-top: 30px;
}

.advantages__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages__item {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.15;
  color: $content-main-color;
  min-height: 40px;
  vertical-align: bottom;
  padding-top: 85px;
  position: relative;
}

.advantages__item::before {
  position: absolute;
  left: 0;
  top: 30px;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__item--eco::before {
  left: 9px;
  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
}

.advantages__item--scandi::before {
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
}

.advantages__item--likes::before {
  left: 8px;
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
}

.advantages__item--withlove::before {
  left: 3px;
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
}

.advantages__item--russian::before {
  left: -7px;
  width: 55px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.advantages__item--pack::before {
  left: 2px;
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
  .advantages {
    @include centering-tablet;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    margin-top: 100px;
    padding-right: 10%;
  }

  .advantages__item--scandi {
    order: 2;
  }

  .advantages__item--likes {
    order: 4;
  }

  .advantages__item--withlove {
    order: 1;
  }

  .advantages__item--russian {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include centering;

    padding: 70px 195px 85px 195px;
  }
}
