.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: $background-fill-color;
  opacity: 0.6;
  display: none;
}

.background--active {
  display: block;
}
