.button {
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 1.17;
  color: $content-main-color;
  padding: 20px 41px;
  box-shadow: inset 0 0 0 2px $content-main-color;

  &:hover,
  &:focus {
    color: white;
    background-color: $content-main-color;
  }

  &:active {
    color: rgba($color: white, $alpha: 0.3);
    background-color: $content-main-color;
  }
}
