.button {
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: $fs-middle;
  line-height: 1.3;
  color: $content-main-color;
  padding: 15px 41px;
  box-shadow: inset 0 0 0 2px $content-main-color;

  &:hover,
  &:focus {
    color: $background-fill-color;
    background-color: $content-main-color;
  }

  &:active {
    color: rgba($color: $background-fill-color, $alpha: 0.3);
    background-color: $content-main-color;
  }
}
