.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.categories__link--decor {
  background-color: $decorative-elements-color;
}

.categories__link--kids {
  background-color: $categories-second-color;
}

.categories__link {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 19px;
  line-height: 1.3;
  color: $background-fill-color;
  min-height: 103px;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 25px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.categories__link::after {
  position: absolute;
  top: 25px;
  content: "";
  opacity: 0.5;
}

.categories__link--decor::after {
  right: 35px;
  width: 41px;
  height: 63px;
  background-image: url("../img/icons/icon-interior.svg");
}

.categories__link--kids::after {
  right: 25px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icons/icon-toy.svg");
}

@media (min-width: $tablet-width) {
  .categories {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    align-items: flex-end;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    min-height: 119px;
    padding: 25px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 1.5;
    position: relative;

    &:hover,
    &:focus {
      top: -5px;
      padding-bottom: 30px;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .categories__link::after {
    top: 30px;
  }

  .categories__link--kids::after {
    right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    @include centering;
  }
}
