.form {
  margin-bottom: 55px;
}

.form__description {
  margin: 0;
  padding: 0 30px;
  padding-top: 30px;
}

.form__fieldset {
  border: none;
  margin: 0;
  margin-top: 20px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-flow: column nowrap;
}

.form__legend {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 0.95;
  text-transform: uppercase;
  color: $decorative-elements-color;
  width: 100%;
  position: relative;
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .form__legend::after {
    position: absolute;
    content: "";
    top: calc(50% + 0.5px);
    left: 62px;
    min-width: 200px;
    width: calc(100% - 62px);
    height: 1px;
    background-color: $decorative-elements-color;
  }

  .form__legend--mail::after {
    left: 81px;
    min-width: 180px;
    width: calc(100% - 81px);
  }
}

.form__container {
  display: flex;
  flex-flow: column;
}

.form__label {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.05;
  padding-left: 62px;
  position: relative;
}

.form__label--radio {
  margin-bottom: 30px;
  width: 100%;
}

.form__label--checkbox {
  margin-bottom: 45px;
}

.form__label::before {
  position: absolute;
  content: "";
}

.form__label--radio::before {
  margin-left: -50px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $background-fill-color;
  box-shadow: 0 0 0 11px $background-fill-color, 0 0 0 13px $content-main-color;
}

.form__radio:checked + .form__label--radio::before {
  background-color: $decorative-elements-color;
}

.form__radio:active + .form__label--radio::before {
  box-shadow: 0 0 0 11px $background-fill-color, 0 0 0 13px $decorative-lines-color;
}

.form__radio:hover + .form__label::before,
.form__radio:focus + .form__label::before {
  box-shadow: 0 0 0 11px $background-fill-color, 0 0 0 13px $decorative-elements-color;
}


.form__label--checkbox::before {
  margin-left: -60px;
  margin-top: -9.5px;
  width: 38px;
  height: 38px;
  background-color: transparent;
  box-shadow: 0 0 0 2px $content-main-color;
}

.form__checkbox:checked + .form__label--checkbox::before,
.form__checkbox:active + .form__label--checkbox::before {
  background-position: center center;
  background-size: 22px auto;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__checkbox:active + .form__label--checkbox::before {
  box-shadow: 0 0 0 2px $decorative-lines-color;
}

.form__checkbox:hover + .form__label::before,
.form__checkbox:focus + .form__label::before {
  box-shadow: 0 0 0 2px $decorative-elements-color;
}

.form__label--username {
  padding: 0;
}

.form__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid $content-main-color;
  margin-bottom: 25px;

  color: $heading-color;
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.05;
  padding-left: 17px;

  &:hover,
  &:focus {
    border-bottom: 2px solid $decorative-elements-color;
  }

  &:hover + .form__input-logo,
  &:focus + .form__input-logo {
    opacity: 1;
    fill: $decorative-elements-color;
  }
}

.form__input-wrapper {
  position: relative;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  width: 100%;
}

.form__input-logo {
  position: absolute;
  right: 0;
  top: 8px;
  fill: $content-main-color;
  opacity: 0.3;
}

.form__input::placeholder {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.05;
  color: $content-main-color;
  opacity: 0.3;
}

.form__input--comment {
  border: 2px solid $content-main-color;
  outline: none;
  resize: none;
  overflow: auto;

  &:hover,
  &:focus {
    border: 2px solid $decorative-elements-color;
  }
}


.form__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
}

.form__submit {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 50px;
  }

  .form__description {
    @include centering-tablet;


    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 17px;
    line-height: 1.76;
  }

  .form__fieldset {
    @include centering-tablet;


    padding: 65px 50px 20px 217px;
    flex-direction: row;
    position: relative;
  }

  .form__legend {
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    top: 81px;
  }

  .form__container {
    flex-flow: row wrap;
  }

  .form__label--checkbox {
    width: 50%;
  }

  .form__row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }

  .form__label--username {
    padding-right: 25px;
  }

  .form__input::placeholder {
    background-color: transparent;
  }

  .form__wrapper:nth-child(2n+1) {
    background-color: $background-fill-color;
  }

  .form__footer {
    @include centering-tablet;


    flex-direction: row-reverse;
    padding: 0 50px;
  }

  .form__submit {
    width: 230px;
    margin-right: auto;
  }

  .form__footnote {
    width: 50%;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .form__description {
    @include centering;


    padding: 112px 225px 70px 225px;
    margin: auto;
  }

  .form__fieldset {
    @include centering;


    padding-left: 225px;
    padding-right: 225px;
  }

  .form__legend {
    left: 112px;
    width: calc(100% - 112px);
  }

  .form__container {

    flex-flow: row wrap;
  }

  .form__label--checkbox {
    width: 33.3%;
  }

  .form__footer {
    @include centering;


    padding-left: 225px;
    padding-right: 225px;
  }
}
