.about {
  width: 260px;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .about {
    width: 668px;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 1050px;
    margin: auto;
  }

  .about__title {
    margin-left: 150px;
  }
}
