.button {
  font-family: OpenSansBold, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  color: $greyish;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: inset 0px 0px 0px 2px $greyish;
}
