.catalog {
  width: 260px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.catalog__list {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 26.5px;
  line-height: 1.1;
  color: $verydarkbrown;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: inset 1px $white;
}

.catalog__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 205px;
  border-bottom: 1px solid $white;
}

.catalog__item-name {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: $black;
}

.catalog__item-params {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  line-height: 2.3;
  color: $greyish;
}

.catalog__item-price {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: $black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog__video {
  display: flex;
  flex-direction: column;
}

.catalog__video-title {
  font-size: 17px;
  line-height: 1.4;
}

.catalog__video-inner {
  width: 190px;
  margin: auto;
}

.catalog__video-description {
  font-size: 13px;
  line-height: 1.8;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 668px;
    margin: auto;
  }

  .catalog__item {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 55px;
  }

  .catalog__item-photo {
    width: 334px;
    height: 334px;
  }

  .catalog__item-info {
    width: 305px;
    justify-content: space-between;
  }

  .catalog__item-price {
    margin-top: auto;
  }

  .catalog__video-image {
    width: 100%;
    height: 455px;
    order: 0;
  }

  .catalog__video-title {
    order: 0;
  }

  .catalog__video-inner {
    width: 585px;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 668px;
  }
}
