.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  min-height: 103px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 29px;
}

.categories__item--decor {
  background-color: $seafoam;
}

.categories__item--kids {
  background-color: $greenyblue;
}

.categories__link {
  text-decoration: none;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 19px;
  line-height: 1.3;
  color: $ultrawhite;
}

@media (min-width: $tablet-width) {
  .categories {
    display: flex;
  }

  .categories__item {
    min-height: 119px;
    padding-left: 36px;
    width: 50%;
  }

  .categories__link {
    font-size: 20px;
    line-height: 1.5;
  }
}
