.contacts {
  padding-top: 44px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-size: 18px;
  line-height: 1.7;
  position: relative;
}

.contacts__header {
  display: flex;
  flex-direction: column;
}

.contacts__info {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  display: flex;
  flex-direction: row;
}

.contacts__item + .contacts__item {
  margin-top: 30px;
}

.contacts__type {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: $greyish;
  margin-right: 30px;
}

.contacts__value {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: $greyish;
}

.contacts__value[href] {
  align-self: flex-start;
  border-bottom: 1px solid $seafoam;
}

.contacts__footer {
  margin: 0 -30px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__map {
  width: 100%;
}

.contacts__map img {
  width: 100%;
  height: auto;
}

.contacts__button {
  min-width: 260px;
  width: calc(100% - 60px);
  margin: 40px auto;
}


@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 72px;
  }

  .contacts__title {
    width: 100%;
    font-size: 43px;
    line-height: 1.16;
  }

  .contacts__title::before {
    position: absolute;
    content: "";
    top: -15px;
    right: 0;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .contacts__info {
    margin-top: 55px;
    width: 100%;
    min-height: 80px;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__item {
    width: 50%;
    padding-right: 30px;
  }

  .contacts__item + .contacts__item {
    margin-top: 0;
  }

  .contacts__footer {
    margin: 0 -50px;
    margin-top: 55px;
  }

  .contacts__button {
    min-width: 260px;
    width: calc(100% - 100px);
    margin: 40px auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include centering;


    padding-top: 71px;
    padding-bottom: 105px;
    position: relative;
  }

  .contacts__header {
    width: 50%;
    position: absolute;
    left: 0;
    top: 152px;
    padding-left: 190px;
  }

  .contacts__title {
    font-size: 57px;
    line-height: 1.07;
  }

  .contacts__title::before {
    left: -111px;
  }

  .contacts__info {
    flex-direction: column;
    min-height: 140px;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__footer {
    margin: 0;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }

  .contacts__button {
    min-width: 230px;
    width: 22%;
    margin: 0;
    margin-left: 150px;
  }

  .contacts__map {
    width: 50%;
  }
}
