.contacts__type {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: $greyish;
}

.contacts__value {
  text-decoration: none;
  font-style: normal;
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: $greyish;
}
