.form {
  margin-bottom: 55px;
}

.form__fieldset {
  border: none;
  margin: 0;
  margin-top: 20px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-flow: column nowrap;
}

.form__legend {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 0.95;
  text-transform: uppercase;
  color: $lazurit;
  width: 100%;
  position: relative;
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .form__legend::after {
    position: absolute;
    content: "";
    top: calc(50% + 0.5px);
    left: 62px;
    min-width: 200px;
    width: calc(100% - 62px);
    height: 1px;
    background-color: $lazurit;
  }

  .form__legend--mail::after {
    left: 81px;
    min-width: 180px;
    width: calc(100% - 81px);
  }
}

.form__container {
  display: flex;
  flex-flow: column;
}

.form__label {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.05;
  padding-left: 62px;
  position: relative;
}

.form__label--radio {
  margin-bottom: 30px;
  width: 100%;
}

.form__label--checkbox {
  margin-bottom: 45px;
}

.form__label::before {
  position: absolute;
  content: "";
}

.form__label--radio::before {
  margin-left: -50px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $ultrawhite;
  box-shadow: 0 0 0 11px $ultrawhite, 0 0 0 12px $greyish;
}

.form__input--radio:checked + .form__label--radio::before,
.form__input--radio:active + .form__label--radio::before {
  background-color: $seafoam;
}

.form__label--checkbox::before {
  margin-left: -60px;
  margin-top: -9.5px;
  width: 38px;
  height: 38px;
  background-color: transparent;
  box-shadow: 0 0 0 2px $greyish;
}

.form__input--checkbox:checked + .form__label--checkbox::before,
.form__input--checkbox:active + .form__label--checkbox::before {
  background-position: center center;
  background-size: 22px auto;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__label--username {
  padding: 0;
}

.form__text-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $greyish;
  margin-bottom: 25px;
}

.form__text-input::placeholder {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.05;
}

.form__text-input--comment {
  border: 1px solid $greyish;
}

.form__text-input--comment::placeholder {
  padding-left: 17px;
  width: 80%;
}

.form__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
}

.form__submit {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    padding: 65px 50px 20px 217px;
    flex-direction: row;
    position: relative;
  }

  .form__legend {
    position: absolute;
    left: 50px;
    top: 81px;
  }

  .form__container {
    flex-flow: row wrap;
  }

  .form__label--checkbox {
    width: 50%;
  }

  .form__row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }

  .form__label--username {
    padding-right: 25px;
  }

  .form__text-input::placeholder {
    background-color: transparent;
    padding-left: 18px;
  }

  .form__wrapper:nth-child(2n) {
    background-color: $white-two;
  }

  .form__footer {
    flex-direction: row-reverse;
    padding: 0 50px;
  }

  .form__submit {
    width: 230px;
    margin-right: auto;
  }

  .form__footnote {
    width: 50%;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .form__fieldset {
    padding-left: 225px;
    padding-right: 225px;
  }

  .form__legend {
    left: 112px;
  }

  .form__container {

    flex-flow: row wrap;
  }

  .form__label--checkbox {
    width: 33.3%;
  }

  .form__footer {
    padding-left: 225px;
    padding-right: 225px;
  }
}
