.header {
  background-color: $ultrawhite;
  width: 100%;
}

.nav {
  width: 100%;
  padding: 0 30px;
  position: relative;
}

.nav__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 79px;
  align-items: center;
  position: relative;
}

.header__toggle-button {
  width: 20px;
  height: 15px;
  position: absolute;
  right: 0;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: $black;
}

.nav__item {
  text-decoration: none;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: $black;
  padding-left: 46px;
  height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: $tablet-width) {
  .nav {
    height: 88px;
    padding: 0 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
  }

  .nav__header {
    justify-content: flex-start;
  }

  .header__toggle-button {
    display: none;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__list:first-of-type {
    position: absolute;
    width: 50%;
    height: 72px;
    top: 90px;
    left: 50px;
  }

  .nav__item {
    height: 100%;
    padding: 0;
    width: 50%;
  }

  .nav__list--user {
    margin-left: auto;
    justify-content: flex-end;
    width: 348px;
  }

  .nav__item--search {
    width: 83px;
  }

  .nav__item--cart {
    width: 264px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    justify-content: space-between;
  }

  .nav__list {
    width: 390px;
  }

  .nav__list:first-of-type {
    top: 0;
  }

  .nav__header {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
