.nav {
  width: 100%;
  position: relative;
}

.nav__logo {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 79px;
  align-items: center;
  position: relative;
}

.nav__logo img {
  width: 86px;
  height: 35px;
}

.nav__toggle-button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav__toggle-button--open {
  width: 20px;
  height: 15px;
  background-image: url("../img/icon-menu-open.svg");
}

.nav__toggle-button--close {
  width: 20px;
  height: 21px;
  background-image: url("../img/icon-menu-close.svg");
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav__link {
  outline: none;
  text-decoration: none;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: $black;
  height: 100%;
  padding-left: 76px;
  padding-top: 25px;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__link::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 30px;
  top: 27px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav__item--search .nav__link::before {
  background-image: url("../img/icon-search.svg");
}

.nav__item--cart .nav__link::before {
  background-image: url("../img/icon-cart.svg");
}

.nav__item {
  text-decoration: none;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: $black;
  height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid $white;
}

@media (min-width: $tablet-width) {
  .nav {
    height: 88px;
    padding: 0 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
  }

  .nav__item--search .nav__link {
    font-size: 0;
  }

  .nav__logo {
    padding: 0;
    height: 100%;
    justify-content: flex-start;
    margin-right: auto;
    width: 50%;
  }

  .nav__logo img {
    width: 112px;
    height: auto;
  }

  .nav__toggle-button {
    display: none;
  }

  .nav__list {
    min-height: 88px;
    flex-direction: row;
    width: 50%;
  }

  .nav__list--services {
    min-height: 66px;
    order: 2;
    z-index: 1;
  }

  @media (max-width: 1124px) {
    .nav__list--services .nav__link {
      font-size: 15px;
      line-height: 1.6;
      padding-top: 20px;
    }
  }

  .nav__item {
    height: 100%;
    padding: 0;
    width: 50%;
  }

  .nav__link {
    padding: 0;
    padding-top: 30px;
  }

  .nav__link::before {
    top: 33px;
  }

  .nav__list--user {
    margin-left: auto;
    justify-content: flex-end;
  }

  .nav__list--user .nav__item {
    border-left: 1px solid $white;
  }

  .nav__item--search {
    width: 83px;
    border-left: 1px solid $white;
  }

  .nav__item--cart {
    width: 264px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    @include centering;

    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .nav__logo {
    margin: 0 auto;
    width: auto;
  }

  .nav__logo img {
    width: 149px;
  }

  .nav__list--services {
    order: -1;
  }

  .nav__item {
    position: relative;
  }

  .nav__list--services .nav__item:not(:first-child) {
    border-left: 1px solid $white;
    text-align: center;
  }

  .nav__list--services .nav__item:not(:last-child) {
    width: 185px;
  }

  .nav__list--user {
    margin-left: auto;
    justify-content: flex-end;
  }
}
