.popup {
  padding-top: 36px;
  padding-bottom: 46px;
  background-color: #ffffff;
  border-top: 2px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  box-shadow: 0 12px 10px 2px #c7c7c7;
  z-index: 5;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}

.popup__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.popup__title {
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.popup__fieldset {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  width: 100%;
  border: none;
}

.popup__legend {
  font-size: 15px;
  line-height: 2;
  width: 100%;
  text-align: center;
}

.popup__buttons {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.popup__label {
  cursor: pointer;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 0.94;
  text-transform: uppercase;
  min-width: 82px;
  width: 30%;
  min-height: 52px;
  border: 2px solid $white-two;

  &:hover {
    border: 2px solid $greyish;
  }
}

.popup__input:checked + .popup__label {
  border: 2px solid $lazurit;
}

.popup__submit {
  margin-top: 30px;
  width: 100%;
  background-color: $lazurit;
  color: white;
  box-shadow: none;
}

@media (min-width: $tablet-width) {
  .popup {
    width: 566px;
    min-height: 336px;
    padding: 51px 108px 46px 108px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup__title {
    width: 100%;
    font-size: 29px;
    line-height: 1.9;
  }

  .popup__fieldset {
    margin-top: 32px;
  }
}
