.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 34px;
}

.promo::after {
  @include wave-section;
  height: 6px;
}

.promo__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 25px;
}

.promo__label {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.17;
  color: $seafoam;
  text-align: center;
  align-self: flex-start;
}

.promo__description {
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 28px;
}

.promo__text {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
}

.promo__photo img {
  margin-bottom: 25px;
  width: 100%;
  height: auto;
}

.promo__customer-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 35px;
}

.promo__price {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: $greyish;
  margin-bottom: 30px;
}

.promo__buy {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .promo {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: 68px;
  }

  .promo::after {
    height: 15px;
  }

  .promo__header {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
  }

  .promo__label {
    width: 77px;
    margin-right: 25px;
    margin-left: auto;
    align-self: center;
  }

  .promo__text {
    font-size: 17px;
    line-height: 1.76;
    width: 290px;
  }

  .promo__inner {
    position: relative;
    display: flex;
    width: 100%;
    padding-right: calc(50% + 44px);
    flex-direction: column;
    flex-wrap: wrap;
  }

  .promo__photo {
    position: absolute;
    right: 0;
    width: 50%;
    margin-left: auto;
  }

  .promo__customer-info {
    margin-top: auto;
  }

  .promo__price {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 70px;
  }

  .promo::after {
    height: 23px;
  }

  .promo__header {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 50px;
    top: 130px;
  }

  .promo__label {
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .promo__inner {
    padding-left: 160px;
  }

  .promo__description {
    padding-top: 160px;
    padding-bottom: 95px;
    margin-bottom: 0;
  }

  .promo__text {
    margin-bottom: 50px;
  }

  .promo__image {
    width: 525px;
    height: 635px;
  }

  .promo__photo img {
    margin: 0;
    width: 525px;
    height: 635px;
  }
}
