.reviews {
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 50px;
}

.reviews::after {
  margin: 0 -50px;
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 11.5px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.reviews__footer {
  display: flex;
  flex-direction: column;
}

.reviews__author {
  margin: 0;
  padding: 0;
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.17;
  color: $black;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35px;
}

.reviews__author-name {
  margin-bottom: 15px;
}

.reviews__author-link {
  text-decoration: none;
  color: $greyish;
}

.reviews__change {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 40px;
  border: 1px solid $white;
}

.reviews__change-button {
  width: 50%;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.reviews__change-button--back {
  background-image: url("../img/icon-left-arrow.svg");
  border-right: 1px solid $white;
}

.reviews__change-button--forward {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: $tablet-width) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .reviews__inner {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 3;
  }

  .reviews__write {
    align-self: center;
    margin-left: auto;
  }

  .reviews__list {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    background-position: 50px 0;
  }

  .reviews__inner {
    padding-left: 150px;
  }
}
