.table {
  font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
  color: $greyish;
  font-size: 15px;
  line-height: 0.75;
  box-sizing: border-box;
}

.table__body {
  font-size: 15px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table__title {
  width: 92px;
}

.table__row {
  box-sizing: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid $white;
}
