.title {
  font-family: "OpenSansBold", "Helvetica", "Arial", sans-serif;
  line-height: 1.2;
  color: $black;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 43px;
  }
}
