$decorative-lines-color: #ececec;
$content-main-color: #444444;
$heading-color: #000000;
$background-fill-color: #ffffff;
$background-index-header-color: #f9f9f9;
$decorative-elements-color: #63d1bb;
$categories-second-color :#56c3b2;
$background-fill-decorative-color: #f1f1f1;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$max-width: 1440px;
$max-width-tablet: 854px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
