$white: #ececec;
$ultrawhite: #ffffff;
$black: #000000;
$verydarkbrown: #010000;
$seafoam: #63d1bb;
$greenyblue: #6b9c95;
$greyish: #444444;
$white-two: #f1f1f1;
$lazurit: #63d1bb;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$max-width: 1440px;
$max-width-tablet: 854px;
